# Python artifacts
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# SQLite database (if you’re using it locally)
db.sqlite3

# Environment variables
.env

# Django media & static (if you collect or upload locally)
media/
staticfiles/

# macOS
.DS_Store

# VSCode
.vscode/
